/* 
File: JazzTasksDisplay.css Date: 2021-04-19 Author: Hanni Heller / Gunnar Liden

Allgemeine Informationen
========================

Definiert alle Style-Klassen für die Applikation Tasks Display

*/

/* Seitenumriss <div> Element */
.cl_tasks_display_page
{
    border: solid 1px black;
    font-family: 'Arial';
    font-size: 12px;
    width: 500px;
    overflow: hidden;
}

/* Header <div> Element */
.cl_tasks_display_header
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

/* Active record <div> Element */
.cl_display_active_record
{
    border: solid 1px yellow;
    width: 100%;
    height: 450px;
}

.cl_active_record_close 
{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 20px;
}

/* Active record title <div> element */
.cl_active_record_title
{
    width: 100%;
    padding: 5px;
    clear: both;
}
