/* 
File: JazzTasksDisplay.css 
Date: 2021-04-25 Author: Hanni Heller / Gunnar Liden

Allgemeine Informationen
========================

Definiert alle Style-Klassen für die Applikation Tasks Display

*/

/* Seitenumriss <div> Element */
.cl_tasks_display_page
{
    /* border: solid 1px black; */
    font-family: 'Arial';
    font-size: 15px;
    width: 500px;
    margin-left: 50px;
    overflow: hidden;
}

/* Header <div> Element */
.cl_tasks_display_header
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

/* Search and help <div> element */
.cl_div_search_help
{
    border: solid 2px black;
    width: 99%;   
    margin-top: 5px; 
    margin-bottom: 10px; 
    overflow: hidden;
    clear: both;
}

/* Search text box <div> element */
.cl_div_textbox_search
{
    /* border: solid 1px yellow; */
    padding: 5px;
    width: 70%;
    float: left;
}

/* Help button <div> element */
.cl_div_display_help_button
{
    /* border: solid 1px white; */
    padding: 5px;
    width: 10%;
    float: right;
}

/* Active record <div> Element */
.cl_display_active_record
{
    border: solid 2px black;
    width: 99%;
    overflow: hidden;
    margin-bottom: 15px;
    height: auto;
}

.cl_active_record_edit_close
{
    /* border: solid 1px blue; */
    padding-top: 10px;
    width: 99%;
    overflow: hidden;
    height: auto;
    clear: both;
}

/* Active close <div> Element */
.cl_active_record_close 
{
    float: right;
    cursor: pointer;
    padding-right: 20px;
}
/* Active close <button> Element */
.cl_active_record_close button
{
    cursor: pointer;
}

/* Active edit <div> Element */
.cl_active_record_edit
{
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

/* Active edit <button> Element */
.cl_active_record_edit button
{
    cursor: pointer;
}

/* Active record title-number <div> element */
.cl_active_record_title_number
{
    width: 100%;
    clear: both;
}

/* Active record title <div> element */
.cl_active_record_title
{
    /* border: solid 1px red; */
    width: 82%;
    padding: 5px;
    float: left;
}

/* Active record number <div> element */
.cl_active_record_number
{
    /* border: solid 1px blue; */
    padding: 5px;
    float: right;
}

/* Active record description <div> element */
.cl_active_record_description
{
    width: 100%;
    padding: 5px;
    clear: both;
}

/* Active record responsibles <div> element */
.cl_active_record_responsibles
{
    width: 100%;
    padding: 5px;
    clear: both;
}

/* Active record remark <div> element */
.cl_active_record_remark
{
    width: 100%;
    padding: 5px;
    clear: both;
}

/* Active record document <div> element */
.cl_active_record_document
{
    width: 100%;
    clear: both;
}

/* Active record document name <div> element */
.cl_active_record_document_name
{
    /* border: solid 1px red; */
    width: 30%;
    padding: 5px;
    float: left;
}

/* Active record document DOC <div> element */
.cl_active_record_document_doc
{
    /* border: solid 1px blue; */
    padding: 5px;
    float: left;
}

/* Active record document PDF <div> element */
.cl_active_record_document_pdf
{
    /* border: solid 1px blue; */
    margin-left: 8px;
    padding: 5px;
    float: left;
}

/* Active record reference <div> element */
.cl_active_record_reference
{
    width: 100%;
    clear: both;
}

/* Active record reference URL <div> element */
.cl_active_record_reference_url
{
    /* border: solid 1px red; */
    width: 80%;
    padding: 5px;
    float: left;
}

/* Active reference <button> element */
.cl_active_record_reference_button 
{
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
}

/* Active record reference description <div> element */
.cl_active_record_reference_description
{
    width: 100%;
    padding: 5px;
    clear: both;
}

/* Active record for the remind an due date <div> element */
.cl_active_record_remind_due_date
{
    width: 100%;
    padding: 5px;
    clear: both;
}

/* Search task list <div> element */
.cl_search_task_list
{
    width: 100%;
    clear: both;    
}

/* List record <div> element */
.cl_list_record
{
    /* border: solid 1px red; */
    width: 100%;
    padding-left: 5px;
    overflow: hidden;
    cursor: pointer;
    clear: both;    
}


/* List record <div> element */
.cl_list_record_responsible
{
    border-bottom: 1px solid gray;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    cursor: pointer;
    clear: both;    
}


/* List record titel <div> element */
.cl_list_record_title
{
    /* border: solid 1px blue; */
    width: 80%;
    padding-left: 5px;
    cursor: pointer;
    float: left;
}

/* List record reg number <div> element */
.cl_list_record_number
{
    /* border: solid 1px blue; */
    padding-left: 5px;
    margin-right: 15px;
    cursor: pointer;
    float: right;
}