/* 
File: JazzTasks.css Date: 2021-06-06

Author: Hanni Heller / Gunnar Liden

Allgemeine Informationen
========================

Definiert alle Style-Klassen für die Applikation Tasks

Die meisten Klassen sind für die <div> Elemente in Datei JazzTasks.htm definiert

Referenz
--------
Im Dokument /www/JazzTasksDokumente/JazzTasksPictures.pptx gibt es Bilder, die 
die <div> Elemente der Datei JazzTasks.htm zeigen

*/

/* Seitenumriss <div> Element */
.cl_tasks_page
{
    border: solid 2px blue;
    font-family: 'Arial';
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    height: 670px;
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}

/* Header <div> Element */
.cl_tasks_header
{
    /* border: solid 2px yellow; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

/* Bild <img> Elemente im <div> Element Header */
.cl_tasks_header img
{
    margin-left: 15px;
    margin-right: 15px;
}

/* Select task and registration number <div> element */
.cl_div_select_reg_number
{
    clear: both;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;   
}

/* Select task <div> element */
.cl_tasks_select_task
{
    /* border:solid 2px black; */
    width: 80%;
    padding: 2px;
    float: left;
}

/* HTML <select> elements */
select 
{
    cursor: pointer;
}

/* HTML <button> elements */
button 
{
    cursor: pointer;
}

/* Registration number <div> element */
.cl_div_reg_number
{
    /* border:solid 2px black; */
    width: 15%;
    float: left;
}

/* Title und delete button <div> element */
.cl_div_title_delete_number
{
    width: 100%;
    clear: both;
}

/* Title <div> element */
.cl_tasks_task_title
{
/* border: solid 2px red; */
padding: 6px;

float: left;
}

/* Delete <div> element */
.cl_tasks_task_delete
{
    padding-right: 13px;
    padding-top: 24px;
    float: right;  
}

/* Description <div> element */
.cl_tasks_task_description
{
    /* border: solid 2px rgb(255, 0, 40); */
    padding: 6px; 
}

/* Remark <div> element */
.cl_tasks_task_remark
{
    /* border: solid 2px rgb(255, 0, 40); */
    padding: 6px; 
}

/* Checkbox <div> element */
.cl_div_checkbox_use_description
{
    padding: 6px;
    clear: both;
}

/* Link text, upload and download <div> element */
.cl_div_display_upload_button
{
    /* border: solid 1px yellow; */
    overflow: hidden;
    clear: both;
}

/* Link text <div> element */
.cl_tasks_task_link_file
{
    /* border: solid 1px rgb(44, 7, 131); */
    padding: 6px;  
    float: left;  
}
/* Upload button <div> element */
.cl_div_upload_button
{
    /* border: solid 1px rgb(44, 7, 131); */
    margin-right: 15px;
    padding-top: 7px;
    float: right;
}

/* Download button <div> element */
.cl_div_download_button
{
    /* border: solid 2px rgb(44, 7, 131); */
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 7px;
    float: right;
}

/* Form <div> element that opens when user clicks the upload button*/
.cl_div_upload_form
{
    border: solid 2px rgb(143, 50, 110);
    background-color: rgb(255, 174, 0);
    margin-top: 5px;
    margin-left: 15px;
    width: 90%;
    padding: 6px;  
    clear: both;  
}

/* Container <div> element for dates */
.cl_div_dates
{
    /* border: solid 1px rgb(143, 50, 110); */
    overflow: hidden;
    width: 96%;
    padding: 6px;  
    clear: both;   
}

/* Date - remind and due - <div> element */
.cl_div_date
{
    /* border: solid 2px rgb(143, 50, 110); */
    width: 23%;
    float: left;
}

/* Days - before and after - <div> element */
.cl_div_days_concert
{
    /* border: solid 2px rgb(50, 143, 97); */
    width: 25%;
    float: right;
}

/* Container <div> element for responsible and deputy */
.cl_div_responsible_deputy
{
    /* border: solid 1px rgb(143, 50, 110); */
    overflow: hidden;
    width: 100%;
    padding: 6px;  
    clear: both;   
}

/* Responsible <div> element */
.cl_div_responsible
{
    /* border: solid 2px rgb(143, 50, 110); */
    margin-top: 8px;
    width: 40%;
    float: left;
}

/* Deputy dropdown and text <div> element */
.cl_div_deputy_dropdown_text
{
    /* border: solid 2px rgb(143, 50, 110); */
    width: 50%;
    margin-left: 10px;
    float: left;
}

/* Deputy dropdow <div> element */
.cl_div_deputy_dropdown
{
    /* border: solid 2px rgb(143, 50, 110); */
    width: 100%;
    margin-left: 25px;
    margin-top: 4px;
    clear: both;
}
/* Deputy text <div> element */
.cl_div_deputy_text
{
    /* border: solid 2px rgb(143, 50, 110); */
    width: 100%;
    margin-left: 5px;
    margin-top: 3px;
    clear: both;
}

.cl_div_tasks_help_cancel_save
{
    width: 100%;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    clear: both;
}

/* Save button <div> element */
.cl_tasks_task_cancel
{
    /* border: solid 2px rgb(230, 52, 52); */
    margin-top: 10px;
    width: 33%;
    padding: 6px;
    cursor: pointer;
    float: left;     
}

/* The cancel button to the right in the <div> */
.cl_tasks_task_cancel button
{
    float: right; 
}

/* Cancel button <div> element */
.cl_tasks_task_saving
{
    /* border: solid 2px rgb(7, 131, 79); */
    margin-top: 10px;
    width: 20%;
    padding: 6px;
    cursor: pointer;
    float: right;     
}

/* Test button <div> element */
.cl_tasks_help_button
{
    /* border: solid 1px blue; */
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px;
    cursor: pointer;
    width: 35%;
    float: left;
}

/* The XML display <div> element */
.cl_display_xml
{
    border: solid 2px rgb(255, 174, 0);
    display: none;
    font-family: 'Arial';
    text-align: center;
    margin-top: 40px;
    width: 900px;
    min-height: 200px; 
}


.cl_div_ref_dropdown
{
    /* border: solid 1px rgb(189, 62, 73); */
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 120px;
    width: 300px;
    clear: both;
}

.cl_div_ref_dropdown label
{
    margin-right: 15px;
    margin-left: 15px;
}


.cl_div_ref_link
{
    /* border: solid 1px rgb(194, 171, 121); */
    width: 95%;
    height: 40px;
    margin-bottom: 5px;
    clear: both;  
}
.cl_div_ref_descr
{
    /* border: solid 1px rgb(194, 171, 121); */
    width: 95%;
    height: 40px;
    clear: both;  
}

.cl_display_xml textarea
{
    
    margin-top: 10px;
}

input
{
    margin-left: 10px;
}